* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "europa", sans-serif;
}

:root {
    --BlueColor: #3974F4;
    --WhiteColor: white;
    --LightBlack: #1B1F24;
    --DarkBlack: #181C21
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

/*FONTS*/

@import url("https://p.typekit.net/p.css?s=1&k=tqf2ebt&ht=tk&f=15528.15530.17252.17253.6812.6813.6814.6817&a=15777542&app=typekit&e=css");


@font-face {
    font-family: 'europa';
    src: url('fonts/europanuovaextrabold.eot');
    src: url('fonts/europanuovaextrabold.eot?#iefix') format('embedded-opentype'),
        url('fonts/europanuovaextrabold.woff2') format('woff2'),
        url('fonts/europanuovaextrabold.woff') format('woff'),
        url('fonts/europanuovaextrabold.ttf') format('truetype'),
        url('fonts/europanuovaextrabold.svg#europanuovaextrabold') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: "europa";
    src: url("https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "europa";
    src: url("https://use.typekit.net/af/e32ad9/00000000000000003b9b12fb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/e32ad9/00000000000000003b9b12fb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/e32ad9/00000000000000003b9b12fb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}


@font-face {
    font-family: 'Caveat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Caveat Regular'), url('fonts/Caveat-Regular.woff') format('woff');
}



/* HAMBURGER */

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent
}

.hamburger.is-active:hover,
.hamburger:hover {
    opacity: .7
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: #000
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}

.hamburger--slider .hamburger-inner {
    top: 2px
}

.hamburger--slider .hamburger-inner:before {
    top: 10px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform, opacity
}

.hamburger--slider .hamburger-inner:after {
    top: 20px
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--slider.is-active .hamburger-inner:before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0
}

.hamburger--slider.is-active .hamburger-inner:after {
    transform: translate3d(0, -20px, 0) rotate(-90deg)
}

.hamburger--slider-r .hamburger-inner {
    top: 2px
}

.hamburger--slider-r .hamburger-inner:before {
    top: 10px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform, opacity
}

.hamburger--slider-r .hamburger-inner:after {
    top: 20px
}

.hamburger--slider-r.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(-45deg)
}

.hamburger--slider-r.is-active .hamburger-inner:before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0
}

.hamburger--slider-r.is-active .hamburger-inner:after {
    transform: translate3d(0, -20px, 0) rotate(90deg)
}

/* NAVBAR */

.mbMenu {
    display: none;
}

.hamburger {
    display: none;
}

.navbar {
    background: rgba(13, 17, 24, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 999;
    width: 100vw;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLinksList {
    display: flex;
}

ul,
li {
    list-style-type: none;
}

.navbarLinksList a {
    color: white;
    font-family: "europa", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 60px;
    transition: 0.3s;
}

.navbarLinksList a:hover {
    color: var(--BlueColor);
}

.loginButton {
    padding: 15px 30px;
    border: 1px solid #5E6164;
    border-radius: 26px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}

.loginButton svg {
    width: 20px;
}

.loginButton p {
    margin-right: 10px;
}

.loginButton:hover {
    border: 1px solid var(--BlueColor);
    background: var(--BlueColor);
}

.headerVideoMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(13, 17, 24, 0.75);
    left: 0;
    top: 0;
    z-index: 3;
}

.video-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: scale(1.15);
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%) scale(1.1);
}

.header {
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.headerText h2 {
    font-family: 'Caveat Regular';
    font-size: 26px;
    line-height: 33px;
    font-style: normal;
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
    font-weight: 400;
}

.headerText {
    position: relative;
    z-index: 99;
    font-weight: 400;
    top: 250px;
}

.headerText h1 {
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 79px;
    color: #FFFFFF;
    max-width: 600px;
    margin-top: 15px;
}

.blueButton {
    padding: 18px 36px;
    background: var(--BlueColor);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px solid var(--BlueColor);
    border-radius: 26px;
    cursor: pointer;
    transition: 0.3s;
}

.transparentButton {
    padding: 18px 36px;
    background: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px solid #5E6164;
    border-radius: 26px;
    cursor: pointer;
    transition: 0.3s;
}

.headerTextButtons {
    margin-top: 25px;
}

.headerTextButtons a {
    margin-right: 20px;
}

.headerMouse {
    margin-top: 70px;
}

.transparentButton:hover {
    border: 1px solid var(--BlueColor);
    color: var(--BlueColor);
}

.blueButton:hover {
    background: transparent;
    border: 1px solid var(--BlueColor);
    color: var(--BlueColor);
}

.headerMouse {
    animation-name: header_mouse_anim;
    animation-timing-function: 2s ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

@keyframes header_mouse_anim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


/* HOW */

.how {
    background-image: url('../images/HowBG.svg');
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: cover;
}

.howTitle {
    text-align: center;
}

.howTitle hr {
    width: 80px;
    border: none;
    height: 2px;
    background: rgba(255, 255, 255, 0.45);
    margin: 0 auto;
    margin-bottom: 20px;
}

.howTitle h1 {
    font-family: 'europa';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.howTitle h2 {
    font-family: 'europa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 156.5%;
    text-align: center;
    color: #FFFFFF;
    width: 540px;
    margin: 0 auto;
    margin-top: 15px;
}

.howContent {
    margin-top: 40px;
}

.howSlider {
    background: url('../images/phone.png');
    width: 300px;
    height: 595px;
    padding-left: 27px;
    padding-top: 70px;
    margin-right: 200px;
}

.howSliderWrapper img {
    min-width: 250px;
    height: 444px;
}

.howContent {
    display: flex;
    align-items: center;
}

.howItem {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 100%;
    text-align: center;
    padding-top: 17px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.howItem:hover {
    background: var(--BlueColor);
    transform: scale(1.2);
}

.fa-solid {
    transition: 0.3s;
}

.howItem:hover path {
    fill: white;
    transition: 0.3s;
}

.howItem path {
    fill: var(--BlueColor);
    font-size: 24px;
}

.howItemLine {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 30px;
}

.howItemBlock {
    padding: 30px;
    border-radius: 20px;
    width: 450px;
    background: white;
}

.howItemBlock p {
    width: 100%;
    color: var(--LightBlack);
}

.howItemNote {
    display: flex;
    align-items: center;
    position: absolute;
}

.howItemMain {
    display: flex;
    align-items: center;
}

.howItemNote {
    left: 200px;
}

.howItemMain {
    position: relative;
}

.howItemNote img {
    position: relative;
    left: 25px;
}

.howItemTitle {
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 156.5%;
    color: var(--BlueColor) !important;
}

.howItemText {
    font-family: 'europa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #5E6164 !important;
}

.howItem svg {
    width: 25px;
}

.downloadLeftButtons svg {
    width: 24px;
    margin-right: 20px;
}

.downloadLeftButtons path {
    fill: white;
}


/* DOWNLOAD */

.download {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #181C21;
    border-top: 1px solid #5E6164;
}

.downloadLeft h1 {
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 580px;
}

.downloadLeft span {
    color: var(--BlueColor);
    font-weight: 700;
    font-family: 'europa';
}

.downloadLeft h2 {
    width: 620px;
    font-family: 'europa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #FFFFFF;
    margin-top: 10px;
}

.downloadLeftButtons {
    margin-top: 20px;
    display: flex;
}

.downloadLeftButtons a {
    display: flex;
    width: 280px;
    text-decoration: none;
    align-items: center;
    margin-right: 20px;
}

.downloadLeftButtons i {
    margin-right: 20px;
}

.downloadContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* GALLERY */

.gallery {
    padding-top: 0px;
    padding-bottom: 160px;
}

.galleryTitle {
    position: sticky;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1B1F24;
    margin-left: 40px;
    top: 20px;
    z-index: 999999999;
}

.sliderTop {
    text-align: center;
}

.sliderTop h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1B1F24;
}

.sliderTop span {
    color: var(--BlueColor);
}

.sliderTop h3 {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #1B1F24;
}

.sliderTopWrapper {
    width: 1024px;
    margin: 0 auto;
}

.swiperTop img {
    max-width: 500px;
}

.sliderTopWrapper {
    margin-top: 40px;
}

.sliderTopBottomNav button {
    width: 50px;
    height: 50px;
    background: white;
    border: 2px solid var(--BlueColor);
    cursor: pointer;
    transition: 0.3s;
}

.sliderTopBottomNav button:hover {
    background: var(--BlueColor);
}

.sliderTopBottomNav button:hover .fa-solid {
    color: white;
}

.sliderTopBottomNav .fa-solid {
    color: var(--BlueColor);
    font-size: 22px;
    transition: 0.3s;
}

.sliderTopBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.sliderTopBottomNav {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.sliderTopBottom p {
    color: var(--DarkBlack);
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
}

.sliderVertWrapper img {
    width: 1174px;
    height: 784px;
    user-select: none;
}

.sliderVertWrapper {
    text-align: left;
    margin-top: 100px;
}

.sliderVertWrapper {
    height: 784px;
    position: relative;
}

.sliderVert {
    position: relative;
}

.sliderVertText {
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 130%;
    color: #3974F4;
    z-index: 999;
    position: absolute;
    left: 900px;
    top: 200px;
    width: 628px;
}

.phoneImageSlider {
    display: none;
}

.sliderVertText h1 {
    color: #3974F4 !important;
}

.swiperBottom {
    width: 950px;
    justify-content: flex-end;
    max-height: 630px;
}

.swiperBottom img {
    width: 950px;
    height: 630px;
}

.sliderBottomText p {
    color: var(--LightBlack);
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #1B1F24;
    width: 600px;
    position: relative;
    left: 100px;
}

.sliderBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiperBottom {
    margin-right: 0 !important;
}

.swiperBottomNav button {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--BlueColor);
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
}

.swiperBottomNav button:hover {
    background: var(--BlueColor);
}

.swiperBottomNav button:hover path {
    fill: white;
}

.swiperBottomNav svg {
    width: 24px;
    transition: 0.3s;
}

.swiperBottomNav path {
    fill: var(--BlueColor);
}

.swiperBottomNav {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}


/* FEATURES */

.features {
    padding-top: 130px;
    padding-bottom: 130px;
    background: var(--LightBlack);
}

.featuresSlider h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    left: 200px;
    margin-bottom: 20px;
    font-size: 46px;
}

.swiperFeaturesNumber {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.swiperFeaturesTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 1164px;
    margin-bottom: 10px;
}

.swiperFeaturesDesc {
    font-family: 'europa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 680px;
}

.swiperFeatures .swiper-slide {
    display: flex;
    position: relative;
    justify-content: end;
}

.swiperFeaturesContent {
    position: absolute;
    left: 200px;
    top: 150px;
}

.swiperFeaturesNav {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: unset;
}

.swiperFeatures {
    position: relative;
}

.swiperFeatures .swiper-slide img {
    width: 1164px;
    height: 670px;
}


/* STATS */

.stats {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #181C21;
    border-top: 1px solid #5E6164;
}

.statsRight>div {
    background: #1B1F24;
    border: 1px solid #3974F4;
    box-shadow: 0px 4px 4px #1B1F24;
    border-radius: 10px;
    width: 260px;
    height: 150px;
    text-align: center;
    padding-top: 30px;
}

.statsBlockTitle {
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 125%;
    text-transform: uppercase;
    color: #3974F4;
}

.statsBlockDesc {
    font-family: 'europa';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #FFFFFF;
}

.statsRight {
    display: grid;
    gap: 27px;
    grid-template-columns: repeat(2, 1fr);
}

.contactsText {
    text-align: center;
}

.contacts {
    padding-top: 70px;
    padding-bottom: 70px;
    background: var(--LightBlack);
}

.contactsText h1 {
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;
    text-align: right;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

.contactsText hr {
    border: none;
    width: 130px;
    height: 2px;
    background: var(--BlueColor);
    margin: 0 auto;
    margin-bottom: 30px;
}

.contactsTextDesc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    color: #868686;
    width: 620px;
    margin: 0 auto;
}

.phoneNumber {
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.115em;
    margin-top: 40px;
}

.phoneNumber span {
    color: #3974F4;
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.115em;
}


/* FOOTER */

footer {
    background: var(--DarkBlack);
    padding-top: 44px;
    padding-bottom: 44px;
}

.footerLogo {
    width: 180px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-family: 'europa';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    color: #868686;
}

.howItemNote {
    opacity: 0;
}

.slideActive .howItem {
    background: var(--BlueColor);
    transform: scale(1.2);
}

.slideActive path {
    fill: white;
}

.howItemNoteShow {
    animation-name: howItemShow;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes howItemShow {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width: 1600px) {
    .loginButton svg {
        width: 15px;
        position: relative;
        top: 1px;
    }
    .sliderBottomText p {
        left: 50px;
    }
    .swiperBottom img {
        width: 700px;
        height: 430px;
    }
    .swiperBottom {
        width: 700px;
        justify-content: flex-end;
        height: 430px;
    }
}

@media (max-width: 1366px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
        width: 100%;
    }
    .how {
        height: auto;
    }
    .swiperFeatures .swiper-slide img {
        width: 868px;
        height: 470px;
    }
    .swiperFeaturesContent {
        position: absolute;
        left: 200px;
        top: 50px;
    }
    .swiperFeaturesTitle {
        font-size: 44px;
        width: 768px;
    }
    .swiperFeaturesDesc {
        font-size: 14px;
    }
    .sliderVertWrapper img {
        width: 868px;
        height: 512px;
        user-select: none;
    }
    .sliderVertWrapper {
        height: 512px;
        position: relative;
    }
    .sliderVertText {
        font-size: 56px;
        left: 500px;
        top: 100px;
        width: 628px;
    }
    .sliderVertText {
        font-size: 76px;
        left: 600px;
        top: 100px;
        width: 628px;
    }
}

@media (max-width: 1240px) {
    .howSlider {
        margin-right: 100px;
    }
    .howItemBlock {
        width: 350px;
    }
    .howItemNote {
        left: 100px;
    }
    .howContent {
        position: relative;
        left: 11%;
    }
    .headerText {
        top: 200px;
    }
    .swiperFeaturesContent {
        left: 100px;
    }
    .featuresSlider h1 {
        left: 100px;
    }
    .downloadLeft h2 {
        width: 80%;
    }
    .statsRight>div {
        width: 200px;
        height: 130px;
    }
    .statsBlockTitle {
        font-size: 34px;
    }
    .statsBlockDesc {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .header {
        height: 768px;
    }
    .video-container {
        height: 768px;
        transform: scale(1.35);
    }
    .headerText h1 {
        max-width: 80%;
        line-height: 92px;
    }
    .headerText {
        top: 250px;
    }
    .howContent {
        position: relative;
        left: 0%;
    }
    .howSlider {
        margin-right: 0px;
    }
    .howContent {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .how {
        height: 1200px;
    }
    .howContent {
        margin-top: 350px;
    }
    .howItemMain {
        position: unset;
    }
    .howItemNote {
        left: 0px;
        top: -200px;
    }
    .howItemNote img {
        display: none;
    }
    .howItemBlock {
        width: 100%;
    }
    .howContent {
        margin-top: 250px;
    }
    .galleryTitle {
        font-size: 26px;
        margin-left: 20px;
        top: 10px;
    }
    .sliderTopWrapper {
        width: 90%;
        margin: 0 auto;
    }
    .swiperTop img {
        max-width: 400px;
    }
    .sliderVertWrapper img {
        width: 60%;
        height: auto;
        user-select: none;
    }
    .sliderVertText {
        font-size: 76px;
        left: 300px;
        top: 50px;
        width: 628px;
    }
    .sliderVertWrapper {
        height: 400px;
        position: relative;
    }
    .sliderBottomText p {
        font-size: 66px;
        width: 80%;
    }
    .sliderVertText h1 {
        font-size: 86px;
        font-weight: 700;
    }
    .swiperBottom {
        width: 60%;
    }
    .swiperBottom img {
        width: 100%;
        height: 430px;
    }
    .swiperBottom {
        width: 100%;
    }
    .swiperBottom img {
        width: 100%;
        height: 370px;
    }
    .swiperBottom {
        height: 370px;
    }
    .sliderBottomText p {
        font-size: 56px;
        width: 80%;
    }
    .swiperFeatures .swiper-slide img {
        width: 70%;
        height: 470px;
    }
    .downloadLeft h1 {
        font-size: 44px;
        width: 80%;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: white;
    }
    .loginButton {
        display: none;
    }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner::before {
        background-color: var(--BlueColor);
    }
    .navbarLinksList {
        display: none;
    }
    .mbMenu {
        background: var(--DarkBlack);
        width: 100vw;
        height: 100vh;
        transition: 0.7s;
        position: fixed;
        z-index: 100;
        left: 100%;
        top: 0;
    }
    .mbMenuActive {
        left: 0;
    }
    .mbMenu {
        padding-top: 20px;
    }
    .mbMenuHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mbMenuLinks .navbarLinksList {
        display: block;
    }
    .navbarLinksList a {
        font-size: 48px;
    }
    .navbarLinksList li {
        margin-bottom: 50px;
    }
    .navbarLinksList {
        margin-top: 100px;
    }
    .mbMenuLinks .loginButton {
        display: flex;
    }
    .mbMenuLinks .loginButton {
        display: flex;
        width: 250px;
        height: 70px;
    }
    .mbMenuLinks .loginButton {
        padding-left: 60px;
    }
    .loginButton p {
        margin-right: 10px;
        font-size: 28px;
    }
    .loginButton svg {
        width: 35px;
    }
    .mbMenu {
        display: block;
    }
    .hamburger {
        display: block;
    }
}

@media (max-width: 768px) {
    .headerText h1 {
        max-width: 100%;
    }
    .headerText {
        top: 200px;
    }
    .headerText h1 {
        width: 90%;
        font-size: 66px;
        line-height: 79px;
    }
    .video-container {
        height: 768px;
        transform: scale(1.85);
    }
    .downloadContent {
        display: block;
    }
    .downloadLeft h1 {
        font-size: 44px;
        width: 100%;
    }
    .downloadLeft h2 {
        width: 100%;
    }
    .downloadRight {
        text-align: center;
        margin-top: 50px;
    }
    .downloadLeftButtons {
        display: flex;
        justify-content: space-between;
    }
    .downloadContent {
        display: block;
    }
    .swiperTop img {
        width: 100%;
    }
    .sliderTop {
        margin-top: 50px;
    }
    .sliderTopWrapper .swiper-slide {
        width: 100%;
        margin-top: 20px;
    }
    .swiperTop img {
        max-width: unset;
    }
    .sliderVertText h1 {
        font-size: 55px;
        font-weight: 700;
    }
    .sliderVertText {
        font-size: 76px;
        left: 30%;
        top: 50px;
        width: 70%;
    }
    .sliderVertText h1 {
        font-size: 55px;
        font-weight: 700;
        line-height: 70px;
    }
    .sliderVertText {
        position: relative;
    }
    .sliderVertWrapper img {
        width: 100%;
        height: auto;
        user-select: none;
    }
    .sliderVert {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .sliderVertText {
        font-size: 76px;
        left: 0%;
        top: 50px;
        width: 100%;
    }
    .sliderVertText {
        text-align: center;
    }
    .sliderVertText h1 {
        font-size: 45px;
    }
    .sliderBottomText p {
        font-size: 56px;
        width: 100%;
        z-index: 9999;
        position: absolute;
    }
    .swiperBottom {
        width: 80%;
    }
    .sliderBottomText p {
        font-size: 56px;
        width: 100%;
        z-index: 9999;
        position: absolute;
        color: var(--BlueColor);
        display: none;
    }
    .swiperFeatures .swiper-slide img {
        width: 70%;
        height: 370px;
    }
    .swiperFeaturesTitle {
        font-size: 34px;
        width: 80%;
    }
    .swiperFeaturesDesc {
        font-size: 14px;
        width: 80%;
    }
    .swiperFeaturesContent {
        top: 25px;
    }
    .statsRight {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        row-gap: 30px;
    }
    .features {
        padding-top: 60px;
        padding-bottom: 60px;
        background: var(--LightBlack);
    }
    .gallery {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .video-container {
        height: 768px;
        transform: scale(2.35);
    }
    .howContent {
        width: 90%;
    }
    .downloadLeftButtons a {
        width: 45%;
        text-decoration: none;
        align-items: center;
        margin-right: 0px;
    }
    .transparentButton {
        padding: 18px 24px;
    }
    .blueButton {
        padding: 18px 24px;
    }
    .sliderTop h2 {
        font-size: 34px;
    }
    .galleryTitle {
        position: relative;
    }
    .swiperBottom img {
        width: 100%;
        height: 320px;
    }
    .swiperBottom {
        height: 320px;
    }
    .swiperFeatures .swiper-slide img {
        width: 100%;
        height: 500px;
    }
    .swiperFeaturesContent {
        left: 50px;
    }
    .featuresSlider h1 {
        left: 0px;
        text-align: center;
    }
    .swiperFeaturesTitle {
        font-size: 28px;
        width: 90%;
    }
    .downloadLeft h1 {
        font-size: 36px;
    }
    .downloadLeft h2 {
        font-size: 14px;
    }
    .phoneNumber {
        font-size: 44px;
    }
    .phoneNumber span {
        font-size: 44px;
    }
    .contactsTextDesc {
        width: 100%;
    }
    .footerLogo {
        width: 180px;
        margin: 0 auto;
    }
    footer .container {
        flex-wrap: wrap;
    }
    footer p {
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width: 489px) {
    .header {
        height: 700px;
    }
    .video-container {
        height: 700px;
        transform: scale(2.55);
    }
    .headerText h1 {
        width: 90%;
        font-size: 46px;
        line-height: 69px;
    }
    .howTitle h2 {
        width: 100%;
    }
    .downloadLeftButtons {
        display: block;
    }
    .downloadLeftButtons a {
        width: 55%;
    }
    .downloadLeftButtons a {
        width: 55%;
        margin-top: 20px;
    }
    .downloadLeft h1 {
        font-size: 38px;
    }
    .sliderVertText h1 {
        font-size: 32px;
    }
    .swiperBottom img {
        width: 100%;
        height: 280px;
    }
    .swiperBottomNav {
        bottom: 60px;
    }
    .swiperFeatures .swiper-slide img {
        width: 100%;
        height: 350px;
    }
    .swiperFeaturesTitle {
        font-size: 28px;
        width: 100%;
    }
    .swiperFeaturesTitle {
        font-size: 18px;
        width: 100%;
    }
    .swiperFeaturesDesc {
        font-size: 14px;
        width: 100%;
    }
    .swiperFeatures .swiper-slide img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    .statsRight {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .video-container {
        height: 806px;
        transform: scale(2.55);
    }
    .howTitle h1 {
        font-size: 36px;
    }
    .howSlider {
        width: 156px;
        height: 306px;
        background-size: contain;
    }
    .howSliderWrapper img {
        min-width: 130px;
        height: 234px;
    }
    .howSlider {
        padding-top: 35px;
        margin-left: 0px;
    }
    .howSlider {
        padding-left: 14px;
    }
    .how {
        height: 982px;
    }
    .downloadLeftButtons a {
        width: 100%;
        margin-top: 20px;
    }
    .sliderTopBottom p {
        display: none;
    }
    .swiperBottom img {
        width: 100%;
        height: 220px;
    }
    .swiperBottom {
        height: 220px;
    }
    .swiperBottomNav {
        bottom: 20px;
    }
    .statsRight>div {
        width: 160px;
        height: 130px;
    }
}

@media (max-width: 390px) {
    .video-container {
        height: 789px;
        transform: scale(2.85);
    }
    .headerText h1 {
        width: 100%;
        font-size: 46px;
        line-height: 59px;
    }
    .sliderTop h2 {
        font-size: 24px;
    }
    .sliderTop h3 {
        font-size: 22px;
    }
    .sliderVertText h1 {
        font-size: 22px;
    }
    .sliderVertWrapper {
        text-align: left;
        margin-top: 50px;
    }
    .sliderVertWrapper {
        height: 298px;
        position: relative;
    }
}

.galleryRight p {
    color: var(--LightBlack);
    font-family: 'europa';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 125%;
    text-transform: uppercase;
    width: 70%;
}

.galleryWrapperLeft {
    width: 65%;
}

.galleryRight {
    width: 35%;
}

.galleryWrapper_1 picture {
    display: flex;
    justify-content: end;
}

.galleryWrapper_1 img {
    width: 250px;
}

.galleryRight p {
    margin: 0 auto;
}

.galleryRight {
    position: relative;
}

.galleryRight p {
    position: sticky;
    top: 0;
}

.galleryLeftWrapper_1 {
    width: 70%;
}

.galleryLeftWrapper_1 img {
    width: 75%;
    height: 80vh;
    object-fit: cover;
}

.galleryWrapper_1 {
    width: 100%;
    display: flex;
    justify-content: end;
}

.galleryWrapper_1 img {
    width: 29%;
    /* height: 150px; */
}

.galleryWrapper_2 picture {
    width: 71%;
    display: flex;
    justify-content: end;
}

.galleryWrapper_2 img {
    width: 60%;
    height: 450px;
    object-fit: cover;
}

.gallerySection {
    display: flex;
}

.galleryWrapper_3 picture {
    width: 20%;
}

.galleryWrapper_3 img {
    width: 40%;
}

.galleryWrapper_4 picture {
    width: 71%;
    display: flex;
    justify-content: end;
}

.galleryWrapper_4 img {
    width: 20%;
}

.galleryWrapper_5 picture {
    width: 57%;
    display: flex;
    justify-content: end;
}

.galleryWrapper_5 img {
    width: 50%;
    height: 350px;
    object-fit: cover;
}

.galleryWrapper img {
    transition: 0.8s;
}

.galleryLeft img {
    transition: 0.8s;
}

.galleryImageHidden {
    position: relative;
    transform: translateY(250px);
    opacity: 0;
}

.galleryRight {
    transition: 0.8s;
}

.galleryRight span {
    font-style: italic;
    color: #181C21
}

@media (max-width: 385px) {
    .blueButton {
        margin-bottom: 20px;
    }
    .headerText h1 {
        margin-top: 0px;
    }
    .statsRight>div {
        width: 45%;
        height: 130px;
    }
}

@media (max-width: 1366px) {
    .galleryWrapper {
        width: 85%;
    }
    .galleryWrapper_2 img {
        height: 350px;
    }
    .galleryWrapper_5 img {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .galleryRight {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .gallerySection {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .galleryWrapper {
        width: 100%;
    }
    .galleryWrapper_2 img {
        height: 250px;
        width: 100%;
    }
}

@media (max-width: 490px) {
    .galleryWrapper_5 img {
        height: 150px;
    }
    .galleryWrapper_5 img {
        height: 50px;
        width: 30%;
    }
}

.howSliderWrapper {
    overflow-x: hidden;
}

.sliderTrackWrapper {
    transition: 0.5s;
    display: flex;
}

.howSliderCrop {
    width: 260px;
    overflow-x: hidden;
}

@media (max-width: 490px) {
    .howSliderCrop {
        width: 130px;
        overflow-x: hidden;
    }
}

@media (max-width: 414px) {
    .navbarLinksList a {
        font-size: 38px;
    }
}

@media (max-width: 1024px) {
    .galleryLeftWrapper_1 img {
        height: 50vh;
    }
}

@media (max-width: 490px) {
    .galleryLeftWrapper_1 img {
        height: 30vh;
    }
    .galleryWrapper_4 img {
        width: 40%;
    }
    .galleryWrapper_5 img {
        height: 100px;
        width: 60%;
    }
    .galleryWrapper_3 img {
        height: 116px !important;
    }
}


body {
    overflow-x: hidden !important;
}